{% extends 'base.html' %}
{% block content %}
<h2>Paquetes disponibles</h2>
<div class="row">
  {% for p in paquetes %}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ p['nombre'] }}</h5>
        <p class="card-text">Precio: Bs{{ '{:.2f}'.format(p['precio']) }}</p>
        <a href="{{ url_for('reservas.reservar', id_paquete=p['id_destino']) }}" class="btn btn-primary">Reservar</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
